<section>
    <div class="container w-50 mx-auto bg-main-light p-4 rounded-4 shadow-sm">
        <h1 class="h2 text-main my-4">Forgot Password</h1>

        @if (step == 1) {

            <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">

                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="">
                    <label for="email">Email address</label>
                </div>

                <button [disabled]="verifyEmail.invalid || isBtnSubmit" class="btn text-white bg-main ms-auto d-block">

                
                <!-- show spinner after submitting the form -->
                @if (isBtnSubmit) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                } @else {
                    Send Reset Code                
                }
                
                
                </button>
            </form>

        } @else if (step == 2) {
            <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">

                <div class="form-floating mb-3">
                    <input formControlName="resetCode" type="text" class="form-control" id="resetCode" placeholder="">
                    <label for="resetCode">Reset Code</label>
                </div>

                <button [disabled]="verifyCode.invalid  || isBtnSubmit" class="btn text-white bg-main ms-auto d-block">

                <!-- show spinner after submitting the form -->
                @if (isBtnSubmit) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                } @else {
                    Verify                
                }

                </button>
            </form>

        } @else if (step == 3) {
            <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">

                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="">
                    <label for="newPassword">New Password</label>
                </div>

                <button [disabled]="resetPassword.invalid || isBtnSubmit" class="btn text-white bg-main ms-auto d-block">

                <!-- show spinner after submitting the form -->
                @if (isBtnSubmit) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                } @else {
                    Reset Password
                }
                    
                
                </button>
            </form>
        }

    </div>

</section>
