<section>
    <div class="container">
        <h1 class="h2 text-main my-4">Forgot Password</h1>

        @if (step == 1) {

            <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">

                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                
                <button [disabled]="verifyEmail.invalid" class="btn text-white bg-main ms-auto d-block">Send Reset Code</button>
            </form>

        } @else if (step == 2) {
            <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">

                <div class="form-floating mb-3">
                    <input formControlName="resetCode" type="text" class="form-control" id="resetCode" placeholder="123456">
                    <label for="resetCode">Reset Code</label>
                </div>
                
                <button [disabled]="verifyCode.invalid" class="btn text-white bg-main ms-auto d-block">Verify Code</button>
            </form>

        } @else if (step == 3) {
            <form [formGroup]="resetPassword">

                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="newPassword" type="text" class="form-control" id="newPassword" placeholder="123456">
                    <label for="newPassword">New Password</label>
                </div>
                
                <button [disabled]="resetPassword.invalid" class="btn text-white bg-main ms-auto d-block">Verify Code</button>
            </form>
        }

    </div>

</section>