<footer class="bg-main-light py-5">
    <div class="container">
        <h2>Get the FreshCart app</h2>
        <p>We will send you a link, open it on your phone to download the app</p>

        <div class="d-flex align-items-center d-flex align-items-center gap-3 text-nowra text-nowrap">
            <input type="email" class="form-control" placeholder="Email ..">
            <button class="btn bg-main text-white">Share App Link</button>
        </div>

        <hr />

        <div class="d-flex justify-content-between py-2 flex-column flex-md-row gap-3">
          <div class="payment-partners d-flex align-items-center  gap-3">
            <h6 class="mb-0">Payment Partners</h6>
            <a href="#"><img src="./assets/images/amazon-pay.png" alt="amazon pay"></a>
            <a href="#"><img src="./assets/images/American-Express-Color.png" alt="American Express"></a>
            <a href="#"><img src="./assets/images/mastercard.webp" alt="Matercard"></a>
            <a href="#"><img src="./assets/images/paypal.png" alt="Paypal"></a>
          </div>

          <div class="app-download-details d-flex align-items-center gap-3">
            <h6 class="mb-0">Get Deliveries with FreshCart</h6>
            <a href="#"><img src="./assets/images/get-apple-store.png" alt="Apple Store"></a>
            <a href="#"><img src="./assets/images/get-google-play.png" alt="Google Play"></a>
          </div>
        </div>

        <hr />

    </div>
</footer>
