<nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="./assets/images/freshcart-logo.svg" alt="freshcart logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="products" routerLinkActive="active-link">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="categories" routerLinkActive="active-link">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="brands" routerLinkActive="active-link">Brands</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-3">
                    <a class="wishlist nav-link position-relative" routerLink="wishlist">
                        <i class="fa-regular fa-heart fs-5"></i>
                        <span class="position-absolute translate-middle badge rounded-pill bg-main">5</span>
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="cart nav-link position-relative" routerLink="cart">
                        <i class="fa-solid fa-cart-shopping fs-5"></i>
                        <span class="position-absolute translate-middle badge rounded-pill bg-main">{{countNumber}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" (click)="_AuthService.logOut()">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
