<div class="container mx-auto bg-main-light p-4 rounded-4">

  <h1 class="h2 text-main text-center">Register Now</h1>

  <form [formGroup]="registerForm" (ngSubmit)="sendData()">
    <div class="my-2">
      <label for="name">name:</label>
      <input [ngClass]="{

        'is-valid': !registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty),
        'is-invalid': registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty),

      }" formControlName="name" type="text" id="name" class="form-control">
    </div>

    <alertError [formName]="registerForm" [controlName]="'name'" />

    <div class="my-2">
      <label for="email">email:</label>
      <input [ngClass]="{

        'is-valid': !registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty),
        'is-invalid': registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty),

      }" formControlName="email" type="email" id="email" class="form-control">
    </div>

    <alertError [formName]="registerForm" [controlName]="'email'" />

    <div class="my-2">
      <label for="password">password:</label>
      <input [ngClass]="{

        'is-valid': !registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty),
        'is-invalid': registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty),

      }" formControlName="password" type="password" id="password" class="form-control">
    </div>

    <alertError [formName]="registerForm" [controlName]="'password'" />

    <div class="my-2">
      <label for="rePassword">rePassword:</label>
      <input [ngClass]="{

        'is-valid': !registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty),
        'is-invalid': registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty),

      }" formControlName="rePassword" type="password" id="rePassword" class="form-control">
    </div>

    <alertError [formName]="registerForm" [controlName]="'rePassword'" />

    <div class="my-2">
      <label for="phone">phone:</label>
      <input [ngClass]="{

        'is-valid': !registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty),
        'is-invalid': registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty),

      }" formControlName="phone" type="tel" id="phone" class="form-control">
    </div>

    <alertError [formName]="registerForm" [controlName]="'phone'" />

    <!-- Display error message when user is already exist in database -->
    @if (errorMsg) {<p class="text-danger fw-bold">{{errorMsg}}</p>}

    <!-- Display success message when account is created -->
    @if (successMsg) {<p class="alert alert-success">{{successMsg}}</p>}

    <button type="submit" class="btn bg-main text-white d-block ms-auto" [disabled]="registerForm.invalid || isBtnSubmit">

      Register

      <!-- show spinner after submitting the form -->
      @if(isBtnSubmit) {
        <i class="fa-solid fa-spinner fa-spin"></i>
      }

    </button>

  </form>
</div>
