<section >
    <h2 class="h3 text-center">All Orders</h2>
      @for (order of userOrders; track order._id) {
        <div class="order mt-4 p-4 bg-main-light rounded-4">

          <h3 class="h6 fw-bolder">Order Number <span class="text-main">#{{order.id}}</span></h3>
          <div class="order-items border rounded mb-4 p-3">
            @for (item of order.cartItems; track $index) {
              <div class="row my-2 py-2 ">
                <div class="col-md-1">
                  <img [src]="item.product.imageCover"  class="w-100">
                </div>
                <div class="col-md-11 d-flex align-items-center justify-content-between">
                  <div>
                    <h3 class="h5">{{item.product.title}}</h3>
                    <p class="text-main mb-2">{{item.product.category.name}}</p>

                  </div>
                  <div class="d-flex align-items-center gap-2 flex-column">
                    <span class="text-main fw-bolder">{{item.price | currency : "GBP"}}</span>
                    <span class="fs-6">QTY: {{item.count}}</span>

                  </div>
                </div>
              </div>
            }
          </div>
          <p class="text-end fs-6 fw-bolder px-3">Tax Price: <span class="text-main">{{order.taxPrice | currency : "GBP"}}</span></p>
          <p class="text-end fs-6 fw-bolder px-3">Total Price: <span class="text-main">{{order.totalOrderPrice | currency : "GBP"}}</span></p>
        </div>
      }

</section>
