<div class="row g-0">
    <div class="col-md-10">
        <div>
            

            <owl-carousel-o [options]="customOptionsMain">
                <ng-template carouselSlide><img src="./assets/images/img1.avif" class="w-100" height="300px" alt=""></ng-template>   
                <ng-template carouselSlide><img src="./assets/images/img2.avif" class="w-100" height="300px" alt=""></ng-template>   
                <ng-template carouselSlide><img src="./assets/images/img3.avif" class="w-100" height="300px" alt=""></ng-template>   
                <ng-template carouselSlide><img src="./assets/images/img4.avif" class="w-100" height="300px" alt=""></ng-template>   
                <ng-template carouselSlide><img src="./assets/images/img5.avif" class="w-100" height="300px" alt=""></ng-template>   
                <ng-template carouselSlide><img src="./assets/images/img6.avif" class="w-100" height="300px" alt=""></ng-template>   
                <ng-template carouselSlide><img src="./assets/images/img7.avif" class="w-100" height="300px" alt=""></ng-template>   
              </owl-carousel-o>

        </div>
    </div>
    <div class="col-md-2">
        <div>
            <img src="./assets/images/grocery-banner.png" class="w-100" height="150px" alt="">
            <img src="./assets/images/grocery-banner-2.jpeg" class="w-100" height="150px" alt="">
        </div>
    </div>
</div>